.photo:nth-child(2) {
  grid-column: 2/4;
  grid-row: span 2;
}

@media (max-width: 40rem) {
  .photo:nth-child(2) {
    grid-column: initial;
    grid-row: initial;
  }
}

.photo {
  display: grid;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}

.photo > div {
  grid-area: 1/1;
}

.visualization {
  grid-area: 1/1;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1rem;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
}

.visualization::before {
  content: '';
  background: url('../../Assets/visualizacao.svg') no-repeat;
  height: 10px;
  width: 20px;
  margin-right: 0.25rem;
  display: inline-block;
}

.photo:hover .visualization {
  display: flex;
}
